*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
}

header{
    width: 100%;
    background-color: #000;
    padding: 20px 10%;
    float: left;
}

header h2{
    color: rgb(218, 204, 20);
    float: left;
}
img{
   width: 200px;
   height: 150px;
   align-items: center;
   flex-flow: column;
}
header nav {float: right;}

header nav ul {list-style: none;}

header nav ul li{
    display: inline-block;
    padding: 5px;
}

header nav ul li a{
    color: rgb(218, 204, 20);
    padding: 10px;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #fff;
    background:rgb(218, 204, 20);
    padding: 10px;
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}
a.btn.btn {
    color: #fff;
    padding: 15px;
}