<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/portifolio/style.css">
    <title>Pefil</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li>
              <a href="/portifolio/index.html">Interesses</a>
              <a href="/portifolio/views/hobbes.html">Hobbes</a>
              <a href="./perfil.html">Perfil</a>
            </li>
          </ul>
     
        </nav>
      </header>
    <h2>Perfil</h2>
    <br>
    <p>Estudante de sistemas de informação</p>
    <p>Foco no desenvolvimento frontend</p>
    <br>
    <footer>
      <p>  &copy;Maceió- 2020</p>
      <p>Contato | Endereço | Redes sociais | Dúvidas</p>
        
      <br>
          
        <br>
          <div class="col-md-4"></div>
          <a href="" class="btn btn-outline-dark">
              <i class="fab fa-facebook"></i>
          </a>
          <a href="" class="btn btn-outline-dark">
              <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="btn btn-outline-dark">
              <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="btn btn-outline-dark">
            <i class="fab fa-github"></i>
        </a>
      </footer>
</body>
</html>